/* MindHive 2026 - Debug Sprint */

body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    animation: fadeIn 2s ease-in;
}

.container {
    width: 320px;
    margin: 80px auto;
    text-align: center;
    border: 2px solid white;
    padding: 20px;
    border-radius: 10px;
}


@keyframe fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

input {
    width: 90%;
    padding: 8px;
    margin: 5px;
}

button {
    padding: 8px 15px;
    cursor: pointer;
}

@media screen and(max-width: 600px) {
    .container {
        width: 95%;
    }
}

#message {
    margin-top: 10px;
    font-weight: bold;
}
